<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK-DISAPPEAR</title>
</head>

<body>
    <div class="nav">
        <form action="/tasks" method="GET">
            <button class="navButton">Get All Tasks</button>
        </form>
        <!-- <button class="navButton">Get All Tasks </button> -->
    </div>
    <div class="middle">
        <center>
            <h1 style="font-size:20px;" class="monospace">Enter Task !!</h1>
        </center>
        <form class="box" action="/addtasks" method="POST" id="myForm">
            <label>
                <input type="text" name="taskname" id="inp_taskname" placeholder="Task Name" required>
            </label>
            <label>
                <input type="text" name="taskdescription" id="inp_taskdesc" placeholder="Task Description" required>
            </label>
            <label>
                <input type="text" name="creator" id="inp_creator" placeholder="Creator" required>
            </label>
            <label style="margin-left:23px;">
                <input type="text" name="duration" id="inp_duration" placeholder="Duration" required>
                <div class="tooltip"><i class="fas fa-info-circle fa-1x hov"></i>
                    <span class="tooltiptext">
                        m=min <br> h=hr <br> d=days </span>
                </div>
            </label>
            <br>
            <button class="navButton" type="submit">Add Task</button>
            <br>
            <button class="navButton" type="reset" value="Reset">Reset</button>
        </form>
        <div>

</body>

</html>