body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg")
    center center no-repeat;
  background-size: cover;
  background-color: #fff7b0;
  height: 100vh;
  overflow-y: hidden;
}

.middle {
  margin-left: 100px;
  display: grid;
  place-content: center;
  height: 60vh;
}

.box {
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 3px solid;
  box-shadow: 5px 10px wheat;
  border-radius: 20px;
}
.nav {
  flex: 1;
  width: stretch;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 2px;
  padding: 10px;
  margin: none;
}
.hov {
  cursor: pointer;
  padding: 5px;
}
.hov:hover {
  transform: scale(1.1);
}
.navButton {
  border: 1px;
  width: 90px;
  background-color: wheat;
  border-radius: 10px;
  height: 30px;
  outline-width: 0;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  outline-width: 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  height: 80px;
  background-color: white;
  color: black;
  text-align: center;
  border: solid 1px black;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.monospace {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
